.ChapterButtons {
   display: flex;
   width: 100%;
   height: 100%;
}

.arrow {
   width: 20px;

   font-size: 37px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 35px;
   font-weight: bold;
   cursor: pointer;
   color: var(--button-purple);
   transition: transform 0.1s, color 0.1s;
   user-select: none;
}
.arrow:hover {
   transform: scale(1.2);
}
.buttons {
   /* padding-left: 15px;
   padding-right: 15px; */
   flex-grow: 1;
   width: 80%;
   display: flex;
   /* justify-content: space-between; */
   justify-content: space-around;
   background-color: var(--white-hover);
   border-radius: 15px;
   margin-left: 3px;
   margin-right: 3px;
}

.button {
   border: none;

   width: 22px;
   height: 22px;
   border-radius: 50%;

   margin-bottom: auto;
   margin-top: auto;
}

.button.active {
   background-color: var(--button-purple);
}

@media screen and (max-width: 600px) {
   .arrow {
      font-size: 30px;
   }

   .button {
      width: 18px;
      height: 18px;
   }
}
