.TextPanel {
   position: relative;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;

   width: 100%;
   height: 100%;
   background-color: #f5f5f5;
}

.TextPanel h1 {
   font-size: 33px;
   margin: 0;
   margin-bottom: 14px;
   margin-top: 35px;
}

.closeButton {
   border: none;
   position: absolute;
   right: 0px;
   top: 0px;
   margin-left: auto;
   margin-right: 0;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
   background-color: var(--button-purple);
   color: var(--white);
   font-weight: bolder;
   padding: 6px 18px 6px 18px;
   border-bottom-left-radius: 7px;
}

.closeButton:hover {
   background-color: var(--button-purple-hover);
}

.body {
   font-size: 20px;
   padding: 5px 20px;
}

.body span {
   display: block;
   margin-bottom: 20px;
}

.body span:last-child {
   margin-bottom: 0;
}

.chapterButtonsContainer {
   margin-top: auto;
   height: 50px;
   width: 100%;
   max-width: 500px;

   max-width: 100%;
   padding: 10px;
   box-sizing: border-box;
}

:global(.vertical) .TextPanel h1 {
   margin-top: 15px;
}

@media screen and (max-width: 1200px) {
   .TextPanel h1 {
      font-size: 27px;
      /* margin-top: 4px;
      margin-bottom: 7px; */
   }
   .body {
      font-size: 18px;
   }
}

@media screen and (max-width: 600px) {
   .TextPanel h1 {
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
   }

   .chapterButtonsContainer {
      height: 43px;
   }

   .closeButton span {
      display: none;
   }

   .body {
      padding: 0px 9px;
      font-size: 16px;
   }

   .body span {
      margin-bottom: 4px;
   }

   .body span:last-child {
      margin-bottom: 0;
   }
}

@media screen and (max-height: 640px) {
   :global(.vertical) .TextPanel h1,
   .TextPanel h1 {
      font-size: 20px;
      margin-top: 18px;
      margin-bottom: 10px;
      display: inline-block;
   }

   .chapterButtonsContainer {
      height: 43px;
   }

   .closeButton span {
      display: none;
   }

   .TextPanel .body {
      padding: 0px 9px;
      font-size: 16px;
   }

   .body span {
      margin-bottom: 10px;
   }
}
/* 
@media screen and (max-height: 600px) {
   .TextPanel h1 {
      font-size: 20px;
      margin-top: 11px;
   }

   .body {
      font-size: 15px;
      line-height: 20px;
   }
} */
