.app {
}

:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.fullScreen {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: calc(100 * var(--vh));
   background-color: var(--white-background);
   display: flex;
   flex-direction: column;
   padding-left: 30px;
   padding-right: 30px;
   box-sizing: border-box;
}

.title {
   padding: 10px;
   text-align: center;
}

.title h1 {
   font-size: 34px;
   margin: 0;
}

.content {
   display: flex;
   flex-direction: row;
   background-color: var(--background);
   flex-grow: 1;
}

.animationContainer {
   width: 60%;
   overflow: hidden;
}

.textPanelContainer {
   background-color: var(--white);
   border: 1px solid rgba(0, 0, 0, 0.25);
   width: 40%;
}

.footer {
   padding: 20px 0px;
   display: flex;
}

.footerContent {
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: row;
}

.footerContent span {
   text-align: center;
}

.borderButton {
   margin-left: 20px;
   flex-shrink: 0;

   button {
      border: 2px solid var(--button-purple);
      background-color: var(--button-purple-0);
      color: var(--button-purple);
      padding: 10px 16px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      transition: background-color 0.2s;
   }
}

:global(.vertical) {
   .content {
      flex-direction: column;
   }

   .textPanelContainer {
      width: 100%;
      height: 40%;
   }

   .animationContainer {
      width: 100%;
      height: 60%;
   }
}

@media screen and (max-width: 600px) {
   .title h1 {
      font-size: 24px;
   }
   .title {
      padding: 5px;
   }
   .fullScreen {
      padding: 0;
   }

   .footer {
      padding: 5px 8px;
   }

   .footerContent {
      flex-direction: column;
   }
   .borderButton {
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      font-size: 16px;
   }
}
