.app {
   user-select: none;
}

:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.fullScreen {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: calc(100 * var(--vh));
   background-color: var(--white-background);
   display: flex;
   flex-direction: column;
   padding-left: 30px;
   padding-right: 30px;
   box-sizing: border-box;
}

.title {
   padding: 10px;
   text-align: center;
}

.title h1 {
   font-size: 30px;
   margin: 0;
}

.content {
   position: relative;
   display: flex;
   flex-direction: row;
   background-color: var(--background);
   flex-grow: 1;
   box-sizing: border-box;
}

.altTitleContainer {
   /* display: none; */
   /* position: absolute;
   top: 0;
   left: 0; */
   width: 100%;
   background-color: var(--background);
   z-index: 10;
   padding-top: 10px;
   padding-bottom: 4px;
}

/* :global(.nowrapper) .altTitleContainer {
   display: block;
} */

.altTitleContainer h1 {
   margin: 0;
   font-size: 24px;
   color: var(--white);
   text-align: center;
   padding: 0;
   margin: 0;
}

.altTitleContainerHome {
   width: 100%;
   background-color: var(--background);
   z-index: 10;
   padding-top: 10px;
   padding-bottom: 10px;

   h1 {
      margin: 0;
      font-size: 28px;
      color: var(--white);
      text-align: center;
      padding: 0;
      margin: 0;
   }
}

@media screen and (max-width: 800px) {
   .altTitleContainerHome {
      padding-top: 6px;
      padding-bottom: 6px;
      h1 {
         font-size: 20px;
      }
   }
}

/* .altTitle {
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   height: 40px;
   background-color: var(--button-purple);
   padding: 10px;
   text-align: center;
   top: 0;
} */

.hotSpotContainer {
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.hotSpotInner {
   flex-grow: 1;
}

.animationContainer {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 60%;
   overflow: hidden;
}

.animationInner {
   flex-grow: 1;
}

.textPanelContainer {
   background-color: var(--white);
   border: 1px solid rgba(0, 0, 0, 0.25);
   width: 40%;
}

.footer {
   padding: 20px 0px;
   display: flex;
}

.footerContent {
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: row;
}

.footerContent span {
   margin-top: auto;
   margin-bottom: auto;
   text-align: center;
}

.borderButton {
   margin-left: 20px;
   flex-shrink: 0;

   button {
      border: 2px solid var(--button-purple);
      background-color: var(--button-purple-0);
      color: var(--button-purple);
      padding: 10px 16px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      transition: background-color 0.2s;
   }
}

:global(.vertical) {
   .content {
      flex-direction: column;
   }
   .animationContainer {
      width: 100%;
      height: 60%;
   }
   .textPanelContainer {
      width: 100%;
      height: 40%;
   }
}

/* @media screen and (max-height: 700px) {
   :global(.vertical) {
      .textPanelContainer {
         height: 40%;
      }
      .animationContainer {
         height: 60%;
      }
   }
}

@media screen and (max-height: 600px) {
   :global(.vertical) {
      .textPanelContainer {
         height: 45%;
      }
      .animationContainer {
         height: 55%;
      }
   }
} */

.viewButtonsContainer {
   /* margin-top: -10px; */
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 12px;
   display: flex;
}

@media screen and (max-height: 700px) {
   .viewButtonsContainer {
      padding-bottom: 8px;
   }
}

.viewButton {
   font-family: "Roboto Slab", serif;
   background-color: var(--button-purple);
   color: var(--white);
   border: none;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 18px;
   font-weight: bold;
   padding: 5px 14px;

   cursor: pointer;

   white-space: nowrap;
   margin-left: 10px;
   margin-right: 10px;
   min-width: 140px;
   height: 50px;
   z-index: 2;
}

.viewButton:first-child {
   margin-left: auto;
}

.viewButton:last-child {
   margin-right: auto;
}

.viewButton:hover {
   background-color: var(--button-purple-hover);
}

.viewButton:disabled {
   opacity: 0.5;
   cursor: not-allowed;
   background-color: var(--button-purple);
}
@media screen and (max-width: 600px) {
   .viewButton {
      margin-left: 5px;
      margin-right: 5px;
      min-width: 115px;
      height: 40px;
      font-size: 15px;
   }
   .viewButton:first-child {
      margin-left: auto;
   }

   .viewButton:last-child {
      margin-right: auto;
   }
}

@media screen and (max-width: 480px) {
   .viewButton {
      margin-left: 5px;
      margin-right: 5px;
      min-width: 105px;
      height: 40px;
      font-size: 14px;
   }
   .viewButton:first-child {
      margin-left: auto;
   }

   .viewButton:last-child {
      margin-right: auto;
   }
}

@media screen and (max-width: 400px) {
   :global(.vertical) {
      .animationContainer {
         height: 55%;
      }
      .textPanelContainer {
         height: 45%;
      }
   }
}

@media screen and (max-width: 600px) {
   .title {
      padding: 5px;
   }
   .title h1 {
      font-size: 24px;
   }

   .fullScreen {
      padding: 0;
   }

   .footer {
      padding: 5px 8px;
   }

   .footerContent {
      flex-direction: column;
   }
   .borderButton {
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      font-size: 16px;
   }
}

@media screen and (max-width: 500px) {
   .footerContent {
      flex-direction: row;
      font-size: 14px;
      line-height: 18px;
   }

   .borderButton {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 3px;
      button {
         font-size: 14px;
         padding: 5px;
      }
      span {
         display: none;
      }
   }
}

@media screen and (max-width: 400px) {
   .title {
      padding: 0px;
   }
   .title h1 {
      font-size: 18px;
   }
}
