:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   --background: #37a7de;
   --white: #ffffff;
   --white-background: #f1f1f1;
   --white-hover: #cccccc;
   --black: #333333;
   --hotlink-purple: #a3238e;
   --button-purple: #a21b91;
   --button-purple-hover: #76146a;
}

body {
   margin: 0;
   width: 100vw;
   height: calc(100 * var(--vh));
}
